.main {
    background-color: rgb(253, 248, 248);
    width: 500px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    justify-items: center;
    height: 100vh;
}

div {
  border: 5px solid;
}